#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#mapcontainer {
  position: relative;
}

#leafletmapcontainer {
  z-index: 0;
}

#refreshButton {
  position: absolute;
  z-index: 400;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
}